DataForSEO___YT.json
{
  "name": "DataForSEO - YT",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        0
      ],
      "id": "82899d48-c7a6-4447-918e-4e0bd2e73039",
      "name": "When chat message received",
      "webhookId": "a799ebc8-a7c6-425c-a32a-0f5d239462d2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Safely access the tasks array\nconst tasks = $json.tasks || [];\n\n// Safely access the result arrays\nconst results = tasks.flatMap(task => task?.result || []);\n\n// Extract all keywords from the results array\nconst keywords = results\n  .filter(result => result?.keyword) // Ensure the result has a 'keyword' property\n  .map(result => result.keyword) // Extract the 'keyword' property\n  .join(\", \"); // Combine into a single string\n\n// Return the result as an object\nreturn {\n  keywords: keywords || \"No keywords found\" // Fallback message if empty\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        120
      ],
      "id": "3fa3787c-ac42-4d34-b773-9388cf9bd5b2",
      "name": "Code4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/serp/google/organic/live/advanced",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YOUR KEY HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=[{\"keyword\":\"{{ $('When chat message received').item['json'].chatInput }}\", \"location_code\":\"2840\", \"language_code\":\"en\", \"device\":\"mobile\", \"os\":\"ios\", \"depth\":20}]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        120
      ],
      "id": "fb6d6c44-3e0c-4991-933c-205f528a1160",
      "name": "Get SERP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df08cfbe-78c4-40b4-a91a-963b88b7d769",
              "name": "tasks[0].result[0].items",
              "value": "={{ $json.tasks[0].result[0].items }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        -80
      ],
      "id": "8773eb7e-c04d-43a6-9664-82858c181e08",
      "name": "Set Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/keyword_suggestions/live",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YOUR KEY HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=[{\"keyword\":\"{{ $('Get SERP').item.json.tasks[0].data.keyword }}\", \"location_code\":\"2840\", \"language_code\":\"en\", \"device\":\"mobile\", \"os\":\"ios\", \"depth\":20}]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        120
      ],
      "id": "efc5a1be-2600-4eb0-8c92-580ad4d208b0",
      "name": "Get KW Suggestions"
    },
    {
      "parameters": {
        "jsCode": "// Safely access the tasks array\nconst tasks = $('Set KW Suggestions1').first().json.tasks[0].result[0].items || [];\n\n// Extract all keywords from the items array\nconst keywords = tasks\n  .filter(item => item?.keyword) // Ensure the item has a 'keyword' property\n  .map(item => item.keyword) // Extract the 'keyword' property\n  .join(\", \"); // Combine into a single string\n\n// Return the result as an object\nreturn {\n  keywords: keywords || \"No keywords found\" // Fallback message if empty\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        120
      ],
      "id": "e205ea19-9e9f-4178-853e-aa8d64e9ae91",
      "name": "Set KW Suggestions"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Safely access tasks array\nconst tasks = $json.tasks || [];\n\n// Safely access the result and items array, falling back to an empty array if not present\nconst items = tasks[0]?.result?.[0]?.items || [];\n\n// Extract titles (alt fields), handling null or undefined nested arrays\nconst titles = items.flatMap(item => \n  (item.items || []).map(subItem => subItem.title || \"\") // Default to an empty string if alt is undefined\n).filter(title => title) // Remove any empty titles\n.join(\", \");\n\n// Return the result as an object\nreturn {\n  titles\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        120
      ],
      "id": "0a2f2a77-3ec8-4167-bdda-9b5f10419efa",
      "name": "Set Titles"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// In n8n, we need to access the input data through items\nconst inputData = $('Get SERP').first().json.tasks[0].result[0][\"items\"]\n\n// Now get all the items from the search results\nconst searchItems = inputData?.[0]?.tasks?.[0]?.result?.[0][\"items\"] || [];\n\n// Get people also ask questions\nconst peopleAlsoAsk = inputData\n  .filter(item => item.type === \"people_also_ask\")\n  .flatMap(item => item[\"items\"] || [])\n  .map(item => item.title)\n  .filter(Boolean)\n  .join(\", \");\n\n// Get people also search terms\nconst peopleAlsoSearch = inputData\n  .filter(item => item.type === \"people_also_search\")\n  .flatMap(item => item[\"items\"] || [])\n  .filter(Boolean)\n  .join(\", \");\n\n// Get extended search terms from organic results\nconst extendedPeopleAlsoSearch = [...new Set(\n  inputData\n    .filter(item => item.type === \"organic\")\n    .flatMap(item => item.extended_people_also_search || [])\n    .filter(Boolean)\n)]\n  .join(\", \");\n\n// Return the results\nreturn {\n  peopleAlsoAsk: peopleAlsoAsk || \"No 'People also ask' data found\",\n  peopleAlsoSearch: peopleAlsoSearch || \"No 'People also search for' data found\",\n  extendedPeopleAlsoSearch: extendedPeopleAlsoSearch || \"No 'Extended people also search' data found\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -80
      ],
      "id": "98990464-f88b-4245-becb-64a27e0de1d2",
      "name": "Set PAA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/related_keywords/live",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YOUR KEY HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=[{\"keyword\":\"{{ $('Get SERP').item.json.tasks[0].data.keyword }}\", \"location_code\":\"2840\", \"language_code\":\"en\", \"depth\":2, \"include_seed_keyword\":false, \"include_serp_info\":false, \"limit\":20, \"offset\":0}]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        -100
      ],
      "id": "15e2c2b9-bc34-45e5-9abe-46b33b3ea702",
      "name": "Get Related KWs"
    },
    {
      "parameters": {
        "jsCode": "// Safely access the tasks array\nconst tasks = $('Get Related KWs').first().json.tasks[0].result[0].items || []\n\n// Safely access the result and items arrays\n\n// Extract all related_keywords from the items array\nconst relatedKeywords = tasks\n  .filter(item => item?.related_keywords) // Ensure the item has a 'related_keywords' property\n  .map(item => item.related_keywords) // Extract the 'related_keywords' property\n  .join(\", \"); // Combine into a single string\n\n// Return the result as an object\nreturn {\n  relatedKeywords: relatedKeywords || \"No related keywords found\" // Fallback message if empty\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        120
      ],
      "id": "09b67958-dfdf-44d2-8d0c-6709cfa712d0",
      "name": "Set Related KWs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/keywords_data/google/keywords_for_keywords/live",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YOUR KEY HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=[{\"keywords\":[\"{{ $('When chat message received').item['json'].chatInput }}\"], \"location_code\":\"2840\", \"language_code\":\"en\", \"sort_by\":\"search_volume\", \"include_adult_keywords\":false}]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        -100
      ],
      "id": "2d03a1ae-bbcf-4064-820d-48378665ea10",
      "name": "KWs for KWs"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-preview",
          "mode": "list",
          "cachedResultName": "O1-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert in creating SEO keyword clusters that help achieve topical authority. Write a new Keyword Cluster based on the Main Topic \"{{ $('When chat message received').item.json.chatInput }}\". Use the XML formatted [Keyword List] below as inspiration.\nThe Keyword Cluster is intended to form the basis for an article around the Main Topic \"{{ $('When chat message received').item.json.chatInput }}\", and must therefore include a broad and versatile list of topics in order to cover the Main Topic completely.\nThe Keyword Cluster must not extensively repeat the Main Topic word.\nThe Keyword Cluster must keep its focus on the Main Topic \"{{ $('When chat message received').item.json.chatInput }}\" and must only include supporting keywords to the Main Topic.\nGroup together and rewrite keywords so they include the search intent behind the keyword.\nMake up new related keywords in order to create a Keyword Cluster which can cover the Main Topic in full.\nOnly include 100 keywords for the complete Keyword Cluster.\nFormat the output as a comma-separated list including a number of how many times it would be reasonable that this keyword should be mentioned. If the number of mentions is above 10, then write 10+.\nHere is an example of ten words from a correctly formatted Keyword Cluster for the Main Topic \"is coffee good for you\":\nis coffee good for you 1-2, coffee 10+, drinking coffee 3-10, black coffee 3-10, coffee consumption 3-10, heart failure 1-2, decaf coffee 1-2, world health organization 1-2, parkinsons disease 1-2, health conditions 1-2\n\n[Keyword List]=\n\n<people-also-ask>\n{{ $('Set PAA').item.json.peopleAlsoSearch }}\n</people-also-ask>\n\n<kw-suggestions>\n{{ $('Set KW Suggestions').item.json.keywords }}\n</kw-suggestions>\n\n<related-kws>\n{{ $('Set Related KWs').item.json.relatedKeywords }}\n</related-kws>\n\n<kws-4-kws>\n{{ $json.keywords }}\n</kws-4-kws>"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        1300,
        -100
      ],
      "id": "76f945a6-18a7-42dc-89c8-24dafbdfd9c6",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "RnxpyK4w6B3riCLl",
          "name": "Dummy Cred"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df08cfbe-78c4-40b4-a91a-963b88b7d769",
              "name": "tasks[0].result[0].items",
              "value": "={{ $json.tasks[0].result[0].items }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        -80
      ],
      "id": "f6cdb0e4-a13c-4e5e-bf3c-78b08ffedc9b",
      "name": "Set KW Suggestions1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini",
          "mode": "list",
          "cachedResultName": "O1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an SEO expert, helping to determine search intent and content information expectations for keywords.\n\nGive a detailed description of the search intent and content expectations for the following Keyword: \"{{ $('When chat message received').item.json.chatInput }}\"\nDo not use more than 100 words to describe the search intent and content expectations.\n\nFormat the output like this:\n[Search Intent]= \n[Content Expectations]= "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        1660,
        -100
      ],
      "id": "cec48d84-9fb0-4758-a349-2f4f0c11507d",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "RnxpyK4w6B3riCLl",
          "name": "Dummy Cred"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst inputData = $('Get SERP').first().json.tasks[0].result[0].items\nconst outputArray = [];\n\ninputData.forEach(item => {\n    // Check if the type is \"organic\"\n    if (item.type === \"organic\" && item.url) {\n      outputArray.push(item.url); // Push the URL into the array\n    }\n  });\n\n// Return as an array of one item in n8n style\nreturn {organicUrls: outputArray}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        -100
      ],
      "id": "9d3170d5-6557-4648-82c5-f0f27e200c79",
      "name": "Code"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=The article topic for this exercise is {{ $('When chat message received').item.json.chatInput }}\n\nThe intent of the searcher is {{ $('OpenAI1').item.json.message.content }}\n\nBelow you will find the top SERP result's headings and number of internal/external link.\n\nUsing that and the intent, build me an SEO outline for an article about {{ $('When chat message received').item.json.chatInput }}\n\nMake sure to structure under each section of your outline the main keywords from our Keyword Clustering exercise so that we know which sections they should go in. Make sure to include the number of times they should be there.\n\n{{ $('OpenAI').item.json.message.content }}\n\nFormat your response as:\n\nHeading\nTarget keywords: [kw x-z]\nDiscussion points:"
            },
            {
              "content": "Format your response in Markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        3360,
        -100
      ],
      "id": "39953b61-1597-454b-8a9e-fef09d5523c4",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "RnxpyK4w6B3riCLl",
          "name": "Dummy Cred"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/on_page/instant_pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YOUR KEY HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=[{\"url\":\"{{ $json.organicUrls }}\", \"enable_javascript\":false, \"check_spell\":false, \"store_raw_html\":true}]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        -100
      ],
      "id": "398c8df8-7f04-4b27-93e6-8b70e0f42ac2",
      "name": "KWs for KWs1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "organicUrls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2240,
        -100
      ],
      "id": "835acd4b-4232-4b95-afd5-cb20c580bbdf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/on_page/raw_html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YOUR KEY HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=[{\"url\":\"{{ $('Split Out').item.json.organicUrls }}\", \"id\":\"{{ $json.tasks[0].id }}\"}]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2680,
        -100
      ],
      "id": "4f9c40cc-4c97-44e9-8a11-9f06edaf966d",
      "name": "KWs for KWs2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const i = $itemIndex;\n\n// Safely retrieve the HTML content\nconst html = $('KWs for KWs2').item.json.tasks?.[0]?.result?.[0]?.items?.html;\n\nif (!html) {\n  return {\n    error: \"No HTML input provided.\",\n  };\n}\n\n// Function to extract headings and count links\nconst extractData = (html) => {\n  const headings = { h1: [], h2: [], h3: [] };\n  let internalLinks = 0;\n  let externalLinks = 0;\n\n  // Use regex for headings and links\n  const headingRegex = /<(h[1-3])>(.*?)<\\/\\1>/gi;\n  const linkRegex = /<a[^>]*href=[\"']([^\"']*)[\"'][^>]*>/gi;\n\n  let match;\n\n  // Extract headings\n  while ((match = headingRegex.exec(html)) !== null) {\n    const [_, tag, content] = match; // Tag is h1, h2, h3; content is inside the tag\n\n    // Ensure the headings[tag] array exists before pushing content\n    if (!headings[tag]) {\n      headings[tag] = [];\n    }\n\n    headings[tag].push(content);\n  }\n\n  // Count links\n  while ((match = linkRegex.exec(html)) !== null) {\n    const href = match[1];\n    if (href.startsWith(\"/\") || href.startsWith(\"#\")) {\n      internalLinks++;\n    } else {\n      externalLinks++;\n    }\n  }\n\n  return { headings, linkCounts: { internal: internalLinks, external: externalLinks } };\n};\n\n// Extract data from HTML\nconst result = extractData(html);\n\n// Return the result\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        -100
      ],
      "id": "a54f36e2-b119-4715-adb3-47947c926e6d",
      "name": "Code1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3080,
        -100
      ],
      "id": "d2eec74c-98ee-4b99-8900-f2d4feb793bb",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get SERP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SERP": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "Set Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get KW Suggestions": {
      "main": [
        [
          {
            "node": "Set KW Suggestions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set KW Suggestions": {
      "main": [
        [
          {
            "node": "Get Related KWs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Titles": {
      "main": [
        [
          {
            "node": "Set PAA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set PAA": {
      "main": [
        [
          {
            "node": "Get KW Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Related KWs": {
      "main": [
        [
          {
            "node": "Set Related KWs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Related KWs": {
      "main": [
        [
          {
            "node": "KWs for KWs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KWs for KWs": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set KW Suggestions1": {
      "main": [
        [
          {
            "node": "Set KW Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "KWs for KWs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KWs for KWs1": {
      "main": [
        [
          {
            "node": "KWs for KWs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KWs for KWs2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e40a024b-655e-4b8a-b20b-8b96e41f7e16",
  "meta": {
    "instanceId": "781ac4bacacd142ff37fa8ebdc4b535cdff629d8d45c2f1256cbfa8b049a1d38"
  },
  "id": "PvwKrmDKl0aNU9dX",
  "tags": []
}